<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>scene-background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{920,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,640}}</string>
                <key>sourceSize</key>
                <string>{920,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene-lobby-textures.png</string>
            <key>size</key>
            <string>{924,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d09495ac77c1c7740b37aa7a6d8c41:a31f13d457a70ba5eb9fb0654b10c635:1666229c06187f518e4cd4665f250134$</string>
            <key>textureFileName</key>
            <string>scene-lobby-textures.png</string>
        </dict>
    </dict>
</plist>
