<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background-scene.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{920,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,640}}</string>
                <key>sourceSize</key>
                <string>{920,640}</string>
            </dict>
            <key>button-entrer.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{204,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,55}}</string>
                <key>sourceSize</key>
                <string>{204,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene-start-textures.png</string>
            <key>size</key>
            <string>{981,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e49cac892964496dd36203b34e6cab:fd4f81df9c6cdf7840ea0aa6c2c6c255:051ca5d7af45d1991a0c68e9695c31ae$</string>
            <key>textureFileName</key>
            <string>scene-start-textures.png</string>
        </dict>
    </dict>
</plist>
